# maven ignore
target/
.mvn/

# gradle ignore
build/
out/
.gradle/

# eclipse ignore
.settings/
.project
.classpath

# idea ignore
.idea/
*.ipr
*.iml
*.iws

# temp ignore
*.log
*.cache
*.diff
*.patch
*.tmp
*.java~
*.properties~
*.xml~
dependency-reduced-pom.xml

# system ignore
.DS_Store
Thumbs.db

# others
note/
*.jar
*.war
*.zip
*.tar
*.tar.gz
